:root {
    --blue-color: #2937a392;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, a, button {
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Hero Section */
.flex-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.flex-hero .blob-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin: 10px;
}

.blob {
    border-radius: 50%;
    filter: blur(60px);
}

.blue {
    background-color: var(--blue-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 55%;
    bottom: 25%;
    margin: auto;
    height: 150px;
    width: 200px;
    animation: blobani 8s infinite ease;
    z-index: 0;
}

.blue1 {
    background-color: #2937a392;
    position: absolute;
    top: 0;
    left: 0;
    right: -55%;
    bottom: -25%;
    margin: auto;
    height: 150px;
    width: 200px;
    animation: blobani 8s infinite ease;
    z-index: -1;
}

@keyframes blobani {
    0% {
        top: 0;
        left: 0;
        transform: scale(1);
    }
    30% {
        top: 0;
        left: 0;
        transform: scale(1.2);
    }
    60% {
        top: 0;
        left: 0;
        transform: scale(1.3);
    }
    100% {
        top: 0;
        left: 0;
        transform: scale(1);
    }
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 10rem; /* Ridotto per migliorare la visibilità su dispositivi mobili */
    background-color: transparent;
    z-index: -1;
}

.hero-section .flex-hero {
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.hero-section .flex-hero h1 {
    font-size: 4rem;
    font-weight: 900;
    margin: auto;
}

.text-gradient {
    background: linear-gradient(45deg, #2190FF 2.34%, #b673f8 100.78%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-section h4 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 1rem;
    color: #969BA5;
    margin: auto;
}

.hero-section .button {
    padding: 1.5rem;
    border-radius: 20px;
    background-color: #2190FF;
    color: #fff;
    border: 1px solid transparent;
    margin: auto;
    cursor: pointer;
    justify-content: center;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Ottimizzazione per mobile */
.hero-section div:nth-child(2) {
    margin-top: 4rem;
}

.hero-section .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    line-height: 1.3;
    margin: 15px 0;
}

/* Media query per schermi più piccoli */
@media (max-width: 900px) {
    .hero-section .button {
        padding: 1rem;
        font-size: 1rem; /* Aumentato un po' il font per visibilità */
    }

    .hero-section .flex-hero h1 {
        font-size: 2.5rem;  /* Adattato per schermi piccoli */
        font-weight: 900;
        display: inline;
    }

    .hero-section h4 {
        font-size: 0.8rem;  /* Ridotto per dispositivi piccoli */
        font-weight: 400;
        text-align: center;
        color: #969BA5;
    }

    .hero-section {
        padding-top: 5rem;  /* Adattato per dispositivi mobili */
    }

    .text-gradient {
        font-size: 1.5rem; /* Ridotto per meglio adattarsi ai dispositivi mobili */
    }
}

@media (max-width: 500px) {
    .hero-section .button {
        padding: 0.8rem;
        font-size: 0.9rem; /* Ridotto per schermi più piccoli */
    }

    .hero-section .flex-hero h1 {
        font-size: 2rem; /* Più piccolo per schermi molto stretti */
        font-weight: 800;
    }

    .hero-section h4 {
        font-size: 0.7rem;  /* Ancora più piccolo su schermi molto stretti */
    }
}
